<script>
    $(function () {
        $("#due_date").pickadate();
        $("#due_time").pickatime();
    });
</script>
<%= form_tag set_due_date_path(@task) do %>
    <div class="row-fluid" style="width: 500px;">
        <div class="span6">
            <%= label_tag :date %>
            <%= text_field_tag :due_date %>
        </div>

        <div class="span6">
            <%= label_tag :time %>
            <%= text_field_tag :due_time %>
        </div>
    </div>

    <br>
    <%= submit_tag "Set" %>
    <%= link_to "Cancel", cancel_due_date_path(@task), :remote => true %>
<% end %>
