<div class="row-fluid">
    <h3><%= @task.title %></h3>
    <br>
    <div class="description">
        <%= @task.description %>
    </div>
    <br>
    <div class="due_date">
        <%= render "tasks/show_due_date" %>
    </div>

    <div class="assigned">
        <%= render "tasks/show_assigned" %>
    </div>

    <div class="reviewer">
        <%= render "tasks/show_reviewer" %>
    </div>

    <div class="approver">
        <%= render "tasks/show_approver" %>
    </div>

    <div class="created_by">
        Created By: <%= @task.creator.name %>
    </div>

    <div class="stats">
        <%= @task.status.name %>
    </div>
    <div class="department">
        <% if not @task.department.nil? %>
            <%= @task.department.name %>
        <% end %>
    </div>

    <div class="comments">
        <%= form_tag add_comment_path(:task_id => @task.id), :remote => true, :class => "create_comment" do %>
            <%= text_area_tag :comment %> <br>
            <%= submit_tag "Add Comment" %>
        <% end %>
        <div class="list-comments">
            <%= render partial: "comments/list", locals: { comments: @task.comments } %>
        </div>
    </div>

</div>
