<div class="row-fluid">
    <div class="span6">
        <% if user_signed_in? %>
            <ul>
                <li> <%= link_to "Home", root_path %> </li>
                <li> <%= link_to "My workspace", workspace_path %> </li>
                <% if current_user.is_admin? %>
                    <li> <%= link_to "Admin Panal", admin_panal_path %> </li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div class="span6">
        <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </div>
</div>
