<!DOCTYPE html>
<html>
<head>
  <title>Trackit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    
    <% if not notice.nil? %><p class="notice"><%= notice %></p> <% end %>
    <% if not alert.nil? %><p class="alert"><%= alert %></p> <% end %>

<%= yield %>

</body>
</html>
